@import "variables";

.input{
    margin-top: 2rem;
    font-size: 1rem;
    font-family: $primary-font;
    font-weight: 500;
    border: 2px solid rgb(196, 194, 194);
    height: 1.75rem;
    padding: .25rem;
    border-radius: 5px;
    transition: .2s;
}

.input:focus{
    border: 2px solid $primary-color;
}