@import "variables";

.sidebar{
    padding: 1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 4rem;
    left: 0;
    width: 14rem;
    height: calc(100vh - 6rem);
    transition: .4s;
    background-color: $secondary-color;

    
}
.tree{
    margin-top: 1rem;
    margin-left: .5rem;
    overflow: auto;
}

.hide{
    transition: .4s;
    top: 4rem;
    left: -16rem;
    @media (min-width: 768px){
        left: 0rem;
    }
}
.repoHeader{
    color: white;
    font-family: $primary-font;
    font-weight: 600;
    font-size: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
}