@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:linear-gradient(45deg, rgb(67, 147, 163) 0%, rgb(67, 147, 163) 59%,rgb(93, 161, 169) 59%, rgb(93, 161, 169) 65%,rgb(119, 175, 175) 65%, rgb(119, 175, 175) 70%,rgb(145, 190, 181) 70%, rgb(145, 190, 181) 73%,rgb(171, 204, 187) 73%, rgb(171, 204, 187) 78%,rgb(197, 218, 193) 78%, rgb(197, 218, 193) 100%);
}
.fadeIn{
    animation: fadeIn ease 2s;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#menu{
    background-color: #0A1826;
}

ul, #repoList{
    list-style-type: none;
}

.caret{
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: white;
    display: inline-block;
    margin-right: 6px;
}
.caret-down::before {
    transform: rotate(90deg);
}
.nested {
    display: none;
}
.active {
    display: block;
}

li, ul{
    transition: 0.5s;
}

li:hover, ul:hover{
    color: gray;
}